# Environment variables
.env
.env-postgres

# Django stuff
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3

# Media and Static files
/media/
/static/

# Data dumps
*.json
*.xml
*.csv

# Local SDKs and virtual environments
.venv/
google-cloud-sdk/

# IDE settings
.idea/
.vscode/
