# Environment variables
.env
.env-postgres

# Django stuff
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3

# Media and Static files
/media/
/static/

# Data dumps
data_backup.json
*.xml
*.csv
*.json
dump.sql

# Local SDKs and virtual environments
.venv/
google-cloud-sdk/

# IDE settings
.idea/
.vscode/

# OS and IDE specific
.DS_Store
*.ipynb

# Downloaded data
DL/
