asgiref==3.10.0
Django==5.2.7
django-bootstrap5==25.2
mysqlclient==2.2.7
python-dotenv==1.1.1
sqlparse==0.5.3
dj-database-url==2.2.0
psycopg2-binary==2.9.9 # Added for PostgreSQL/PostGIS support
requests==2.32.3 # For making HTTP requests
beautifulsoup4==4.12.3 # For parsing HTML
fiona==1.9.6 # For working with geographic data
shapely==2.0.4 # For geometric operations
