<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">My App</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            {% if user.is_authenticated %}
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'personalized_home' %}">Home</a>
                </li>
                {% if user.is_superuser %}
                <!-- Employees Dropdown -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownEmployees" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Employees
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownEmployees">
                        <li><a class="dropdown-item" href="{% url 'employees:director_list' %}">Director List</a></li>
                        <li><a class="dropdown-item" href="{% url 'employees:manager_list' %}">Manager List</a></li>
                        <li><a class="dropdown-item" href="{% url 'employees:technician_list' %}">Technician List</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="{% url 'employees:employee_list' %}">All Employee List</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="{% url 'employees:upload_csv' %}">Upload Employees</a></li>
                    </ul>
                </li>

                <!-- Clients Dropdown -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownClients" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Clients
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownClients">
                        <li><a class="dropdown-item" href="{% url 'client:client_list' %}">Client List</a></li>
                        <li><a class="dropdown-item" href="{% url 'client:clientgroup_list' %}">Client Group List</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><h6 class="dropdown-header">Upload CSV</h6></li>
                        <li><a class="dropdown-item" href="{% url 'client:upload_group_csv' %}">Upload Client Groups</a></li>
                        <li><a class="dropdown-item" href="{% url 'client:upload_dimension' %}">Upload Dimensions</a></li>
                        <li><a class="dropdown-item" href="{% url 'client:upload_client' %}">Upload Clients</a></li>
                    </ul>
                </li>

                <!-- Addresses Dropdown -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownAddresses" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Addresses
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownAddresses">
                        <li><a class="dropdown-item" href="{% url 'client:address_validation_list' %}">Address Validation Queue</a></li>
                        <li><a class="dropdown-item" href="{% url 'address:health_dashboard' %}">Address Health Dashboard</a></li>
                    </ul>
                </li>

                <!-- Maps Dropdown -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMaps" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Maps
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMaps">
                        <li><a class="dropdown-item" href="{% url 'client:client_map' %}">Client Map</a></li>
                    </ul>
                </li>

                <!-- Admin Dropdown -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownAdmin" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Admin
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownAdmin">
                        <li><a class="dropdown-item" href="{% url 'admin:index' %}">Admin Center</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><h6 class="dropdown-header">Bulk Assignments</h6></li>
                        <li><a class="dropdown-item" href="{% url 'employees:territory_assignment_upload' %}">Assign Territories to Managers</a></li>
                    </ul>
                </li>
                {% endif %}
            </ul>
            {% endif %}
        </div>
    </div>
</nav>
